<h1>{{title}}</h1>
<hr>

<div class="p-2 bg-light" [ngClass]="{'text-danger': resultado < 0, 'text-success': resultado >= 0}">
  Resultado: {{ resultado }}
</div>
<form>
  <div class="mb3">
    <label class="form-label" for="numero1">Numero 1: </label>
    <input class="form-control" [(ngModel)]="numero1" type="number" id="numero1" name="numero1"><br /><br>
  </div>

  <div class="form-group">
    <label class="form-label" for="numero2">Numero 2: </label>
    <input class="form-control" [(ngModel)]="numero2" type="number" id="numero2" name="numero2">
  </div>
  <br>
  <br>
  <div class="form-group">
    <input (click)="sumar()" type="submit" value="Sumar" class="btn btn-success">
    <input (click)="restar()" type="submit" value="Restar" class="btn btn-danger">
    <input (click)="multiplicar()" type="submit" value="Multiplicar" class="btn btn-primary">
    <input (click)="dividir()" type="submit" value="Dividir" class="btn btn-warning">
  </div>

</form>
<br>


